<?xml version="1.0" encoding="utf-8"?>
<!--
    Note: Add entries to the App.config file for configuration settings
    that apply only to the Test project.
-->
<configuration>
    <appSettings>

    </appSettings>

    <connectionStrings>

    </connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="Staff ServiceSoap">
          <security mode="Transport" />
        </binding>
        <binding name="Staff ServiceSoap1" />
        <binding name="Appointment ServiceSoap">
          <security mode="Transport" />
        </binding>
        <binding name="Appointment ServiceSoap1" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="https://api.mindbodyonline.com/0_5/StaffService.asmx" binding="basicHttpBinding" bindingConfiguration="Staff ServiceSoap" contract="StaffServiceReference.StaffServiceSoap" name="Staff ServiceSoap" />
      <endpoint address="https://api.mindbodyonline.com/0_5/AppointmentService.asmx" binding="basicHttpBinding" bindingConfiguration="Appointment ServiceSoap" contract="AppointmentServiceReference.AppointmentServiceSoap" name="Appointment ServiceSoap" />
    </client>
  </system.serviceModel>
</configuration>
