@model MVC.Models.StaffViewModel

@{
    ViewBag.Title = "Index";
}

<h2></h2>

@using (Html.BeginForm("Get", "Appointment", FormMethod.Post))
{
    <fieldset>
        <table>
            <tr>
                
                <td>
                    @Html.DropDownListFor(
                    m => m.SelectedStaffId,
                    new SelectList(Model.StaffMemberList, "ID", "LastName"),
                    "-- Select --")
                   @Html.ValidationMessageFor(m => m.SelectedStaffId)
               </td>
                <td>
                    <input type="date" value="2014-01-03" name="date">
                </td>
                <td>
                    <input type="submit" value="View Schedule" />
                </td>
            </tr>
        </table>
    </fieldset>
}

