@model MVC.Models.StaffViewModel

@{
    ViewBag.Title = "Index";
}

<h2/>
<form id="staffPickerForm">
    <table>
        <tr>
            <td>
                <label for="selectStaff"><strong>Select: </strong></label>
                @Html.DropDownListFor(
                m => m.SelectedStaffId,
                new SelectList(Model.StaffMemberList, "ID", "Name"),
                "-- Select --")
            </td>
            <td>
                <input type="date" value="2014-01-03" name="date">
            </td>
            <td>
               <input type="button" value="Submit" onclick="postAndUpdate(this)" />
            </td>
        </tr>
    </table>
</form>
<br />
<div id="appointmentResults" />
<script type="text/javascript">
    function postAndUpdate(btnClicked) {
        var $form = $("#staffPickerForm");

        $.ajax({
            type: "POST",
            url: '@(Url.Action("PartialAppointmentView", "Appointment"))',
            data: $form.serialize(),
            error: function (xhr, status, error) {
                //do something about the error
            },
            success: function (response) {
                //Update the appointment results
                $("#appointmentResults").html(response);
            }
        });
        return false;
    }
</script>

